<li class="card mb-3">
    <div class="card-header d-flex justify-content-between">
        <p>{{post_title}}</p>
        {{!-- <p>{{User.username}}</p> --}}
    </div>
    <p class="card-body">{{post_text}}</p>
</li>
{{!-- <section>
    <!-- then replace the text box with static elements that have the timestamp and user who commented -->
    <p> this is a new window for a comment</p>
    <textarea class="w-100">write somethign</textarea>
    <button>Submit comment</button>
</section>
<li class="card">
    <h2 class="card-header">Title</h2>
    <p class="card-body"> text about the post and what is happening here</p>
</li> --}}