<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  {{!--
  <link rel="stylesheet" type="text/css" href="/css/jass.css"> --}}
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <nav>
      <ul class="flex-row">
        <li> <a href='/'>Home</a></li>
        <li> <a href='/dashboard'>Dashboard</a></li>
        <li> <a href='/login'>Login</a></li>
      </ul>
    </nav>
  </header>
  <nav>
    <a href="/">Home</a>
  </nav>
  <main>
    <aside>
      <h2>Enjoy the galleries!</h2>
    </aside>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
</body>

</html>