<section>
    <div class="card m-5">
        <div class="card-header bg-info" id="loginContainer">Login</div>
        <div class="card-body" id="inputContainer">
            <p> Username</p>
            <input id="usernameInput">
            {{!-- there's a password option to hide this --}}
            <p> Password</p>
            <input type="password" id="passwordInput">

            <button id="login"> Login!</button>
            <p><a href="/signup"> No account? Sign Up Now</a></p>
        </div>
    </div>
</section>
<script src="/js/login.js"></script>