<section>
    <div class="card m-5">
        <div class="card-header bg-info" id="loginContainer">Login</div>
        <div class="card-body" id="inputContainer">
            <p> Username</p>
            <input id="usernameInput">
            <p> Password</p>
            <input id="passwordInput">
            <button> Login!</button>
            <p><a href="/signup"> No account? Sign Up Now</a></p>
        </div>
    </div>
</section>