<input type="hidden" id="user-id" value="{{user_id}}" />
<div class="card m-3 p-0">
    <h2 class="card-header">Create a New Post</h2>
    <div class="m-2">
        <p>Title</p>
        <input id="newPostTitle">
    </div>
    <div class="m-2">
        <p>Content</p>
        <textarea class="w-100" id="newPostContent"></textarea>
    </div>
    <button id="submitPost">Submit</button>
</div>

<script src="/js/newpost.js"></script>