<section>
    <div class="card m-5">
        <div class="card-header bg-info" id="loginContainer">Sign Up</div>
        <div class="card-body" id="inputContainer">
            <p> Username</p>
            <input id="usernameInput">
            <p> Password</p>
            <input type="password" id="passwordInput">
            <button id="signup"> Signup!</button>
            <p><a href="/login"> Already have an account? Login</a></p>
        </div>
    </div>
</section>
<script src="/js/signup.js"></script>